<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生信息管理</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header style="height:80px;">学生信息管理</el-header>
            <el-container>
                <el-aside width="200px">
                    <el-menu default-active="2" class="el-menu-vertical-demo">
                        <el-menu-item index="1">
                            <i class="el-icon-menu"></i>
                            <span slot="title">班级管理</span>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <i class="el-icon-menu"></i>
                            <span slot="title">学生管理</span>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <i class="el-icon-document"></i>
                            <span slot="title">讲师管理</span>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <i class="el-icon-setting"></i>
                            <span slot="title">课程管理</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>
                <el-container>

                    <el-main>
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                            <el-breadcrumb-item><a href="/">班级管理</a></el-breadcrumb-item>
                        </el-breadcrumb>
                        <el-form :inline="true" style="margin-top: 20px;">
                            <el-row>
                                <el-col :span="12">

                                    <el-form-item label="输入查询条件">
                                        <el-input v-model="inputStr" placeholder="查询条件" style="width: 420px;">
                                        </el-input>
                                    </el-form-item>

                                </el-col>
                                <el-col :span="8" style="text-align: right;padding-right: 10px;">
                                    <el-button-group>
                                        <el-button type="primary" icon="el-icon-edit" @click="queryStudents()">查询
                                        </el-button>
                                        <el-button type="primary" icon="el-icon-share">全部</el-button>
                                        <el-button type="primary" icon="el-icon-delete" @click="addStudent()">添加
                                        </el-button>
                                    </el-button-group>
                                </el-col>
                                <el-col :span="2">
                                    <el-upload :show-file-list="false" :http-request="uploadExcelPost">
                                        <el-button type="primary">导入excel</el-button>
                                    </el-upload>
                                </el-col>
                                <el-col :span="2">

                                    <el-button type="primary">导出excel</el-button>

                                </el-col>
                            </el-row>
                        </el-form>
                        <!-- 表格 -->
                        <el-table :data="pageStudents" border style="width: 100%" size="small">
                            <el-table-column type="selection">
                            </el-table-column>
                            <el-table-column type="index" label="序号" width="60">
                            </el-table-column>
                            <el-table-column prop="sno" label="学号" width="80">
                            </el-table-column>
                            <el-table-column prop="name" label="姓名" width="80">
                            </el-table-column>
                            <el-table-column prop="gender" label="性别" width="60">
                            </el-table-column>
                            <el-table-column prop="birthday" label="出生日期" width="60">
                            </el-table-column>
                            <el-table-column prop="mobile" label="电话" width="120">
                            </el-table-column>
                            <el-table-column prop="email" label="邮箱" width="220">
                            </el-table-column>
                            <el-table-column prop="address" label="地址" width="">
                            </el-table-column>
                            <el-table-column label="操作" width="180px">
                                <template slot-scope="scope">


                                    <el-button type="success" icon="el-icon-check" circle size="mini"
                                        @click="viewStudent(scope.row)"></el-button>
                                    <el-button type="primary" icon="el-icon-edit" circle size="mini"
                                        @click="updateStudent(scope.row)"></el-button>
                                    <el-button type="danger" icon="el-icon-delete" circle size="mini"
                                        @click="deleteStudent(scope.row)"></el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <!-- 分页 -->
                        <el-row style="margin-top: 10px;">
                            <el-col :span="8">
                                <el-button type="primary" icon="el-icon-edit" size="mini">批量删除</el-button>
                            </el-col>
                            <el-col :span="16" style="text-align: right;">
                                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                    :current-page="currentpage" :page-sizes="[5, 10, 50, 100]" :page-size="pagesize"
                                    layout="total, sizes, prev, pager, next, jumper" :total="total">
                                </el-pagination>
                            </el-col>
                        </el-row>
                        <el-dialog :title="dialogTitle" :visible.sync="dialogVisible" width="50%"
                            @close="closeDialogForm('studentForm')" :close-on-click-modal="false">
                            <el-form :inline="true" :model="studentForm" :rules="rules" ref="studentForm"
                                label-width="110px" label-position='right' size="mini">
                                <el-upload style="text-align: center;" class="avatar-uploader"
                                    :show-file-list="false" :disabled="isView" :http-request='uploadPicturePost'>
                                    <img v-if="studentForm.image" :src="studentForm.imageUrl" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                                <el-form-item label="学号" prop="sno">
                                    <el-input suffix-icon="el-icon-edit" :disabled="isView || isEdit"
                                        v-model="studentForm.sno"></el-input>
                                </el-form-item>
                                <el-form-item label="姓名" prop="name">
                                    <el-input suffix-icon="el-icon-edit" :disabled="isView" v-model="studentForm.name">
                                    </el-input>
                                </el-form-item>
                                <el-form-item label="性别" prop="gender">
                                    <el-select v-model="studentForm.gender" :disabled="isView">
                                        <el-option label="男" value="男"></el-option>
                                        <el-option label="女" value="女"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="出生日期" prop="birthday">
                                    <el-date-picker type="date" v-model="studentForm.birthday" value-format="yyyy-MM-dd"
                                        :disabled="isView" placeholder="选择日期" style="width: 93%;">
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item label="手机号码" prop="mobile">
                                    <el-input suffix-icon="el-icon-edit" :disabled="isView"
                                        v-model="studentForm.mobile"></el-input>
                                </el-form-item>
                                <el-form-item label="邮箱" prop="email">
                                    <el-input suffix-icon="el-icon-edit" :disabled="isView" v-model="studentForm.email">
                                    </el-input>
                                </el-form-item>
                                <el-form-item label="家庭住址" prop="address">
                                    <el-input suffix-icon="el-icon-edit" :disabled="isView"
                                        v-model="studentForm.address" style="width: 263%;"></el-input>
                                </el-form-item>
                            </el-form>
                            <span slot="footer" class="dialog-footer">
                                <el-button type="primary" size="mini" v-show="!isView"
                                    @click="submitStudentForm('studentForm')">确 定</el-button>
                                <el-button type="info" size="mini" @click="closeDialogForm('studentForm')">取 消
                                </el-button>
                            </span>
                        </el-dialog>
                    </el-main>

                    <el-footer style="height: 30px;">版权@ ringht</el-footer>
                </el-container>
            </el-container>
        </el-container>
    </div>

</body>

</html>
<script src='./js/index.js'></script>